#all {
    max-width: 100%;
}

body {
    background-color: #FBCED4;
}

/*
#products {
    background-size: cover;
    background-position: center top;
    padding-top: 1.5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 2em;
*/
}

#food {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

/*MANJU*/


/*MERCH*/
#merch {
    /* background-image: linear-gradient(#FBCED4, #FBCED4); */
    text-align: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

h2 {
    /* background-image: linear-gradient(#FBCED4, #FBCED4); */
    padding: 0;
    margin: 0;
    text-indent: 1em;
}

/*MERCH*/

header {
    display: grid;
    grid-template-columns: 100%;
}

div {
    background-image: linear-gradient(#FFE4BC, #FBCED4);
    padding-top: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 2em;
}

.banner {
    position: relative;
    top: -2.5em;
    z-index: -10;
    width: 100%;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    max-height: 20.64em;
    object-fit: cover;
}

.floatleft {
    float: left;
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: #FFE4BC; */
    font-family: 'Raleway', sans-serif;
    color: #483D87;
    font-size: 1.1em;
}

.navlogo {
    max-width: 1.9em;
    float: left;
    position: relative;
    top: -.35em;
    padding-left: .5em;
}

.links .menu {
    color: white;
    text-shadow: 1px 1px 2px grey;
}

.links a {
    text-decoration: none;
    color: #483D87;
    padding-right: 10%;
}

a:hover {
    color: white;
    text-shadow: 1px 1px 2px grey;
}

a:hover {
    color: white;
    text-shadow: 1px 1px 2px grey;
}

nav {
    padding: 0.5em;
    background-image: linear-gradient(to bottom, rgba(147, 139, 194, 1), rgba(175, 168, 216, 0.7));
    max-height: 1.2em;
    text-align: center;
}

nav a {
    margin-right: 0.36em;
}

nav i {
    padding-left: 1em;
    font-size: 1.3em;
    color: #483D87;
}

i:hover {
    color: white;
    text-shadow: 1px 1px 2px grey;
}

.social {
    float: right;
    margin-right: 1.2em;
}

/*footer*/

footer {
    background-image: linear-gradient(#FBCED4, #949BD9);
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3em;
    text-align: center;
    line-height: 1.6em;
}

.logo {
    max-height: 15em;
}

.hours {
    margin: auto;
}

.social2 {
    position: relative;
    right: 3%;
}

.social2 a {
    padding-left: 1em;
    font-size: 1.3em;
    color: #483D87;
}

.contact {
    margin: auto;
}
