body {
    background-image: url(images/background.jpg);
    background-size: cover;
}

header {
    text-align: center;
    color: #35D724;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    letter-spacing: 4px;
    text-shadow: 2px 2px black;
    border: #5c5c5c 5px solid;
    margin: 20px 200px;
    background: rgb(0, 0, 0, 0.7);
}

main {
    display: block;
    border: #5c5c5c 5px solid;
    padding: 70px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 30px;
    margin: 20px 200px;
    background: rgb(0, 0, 0, 0.7);
}

p {
    color: #e3e3e3;
    margin: 40px 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 1.5;

}

a {
    color: #35D724;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.25s;
}

button {

    background: none;
    color: #35D724;
    border: 2px solid;
    padding: 10px;
    transition: all 0.25s;
    margin-right: 40px;
    margin-left: 40px;
}

a:hover {
    color: #f1ff5c;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.face {
    max-width: 15%;
    margin: 0px 40px;
}

.were {
    max-width: 30%;
}

#first {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.amara {
    color: #bc8df7;
}

.eden {
    color: #eda779;
}

.rei {
    color: #faa7bc;
}
